<% include ../partials/header %>


<div class="row">
    <div class="card mb-3 border-secondary col-md-4">
        <h1><%= user.firstName + " " + user.lastName %></h1>
        <div class="card">
            <img src="<%= user.avatar %>" alt="user profile image">
            <div class="caption"><a href="mailto:<%= user.email %>"><%= user.email %></a></div>
        </div>
            <p><%= user.bio %></p>
        </div>
    <div class="card mb-3 border-secondary col-md-8">
        <h3><%= user.username %>'s campgrounds:</h3>
        <ul>
            <% campgrounds.forEach(function(campground){ %>
                <li><a href="/campgrounds/<%= campground.id %>"><%= campground.name %></a></li>
            <% }) %>
        </ul>
    </div>
    <% if(currentUser && user._id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
        <div class = "text-center">
            <a class = " btn btn-sm btn-warning" href = "/users/<%= user._id %>/edit">Edit Profile </a>
        </div>
    <% } %>
</div>




<% include ../partials/footer %>